.form{
    display: flex;
    padding: $m-size;
}
.form__error{
    color: $off-white;
    padding: 0 $m-size;
    margin-top: $m-size;
    font-style: italic;
}
.form__input{
    background-color: $dark-blue;
    border: none;
    border-bottom: 1px solid darken($color: $dark-blue, $amount: 10%);
    margin-right: $s-size;
    flex-grow: 1;
    color: $off-white;
}
@media (max-width:45rem)
{
    .form{
        flex-direction: column;
        padding: $l-size;
    }
    .form__input{
        background-color: $dark-blue;
        padding: $s-size;
        border: none;
        border-bottom: 1px solid darken($color: $dark-blue, $amount: 10%);
        margin:0 0 $s-size 0;
        flex-grow: 1;
        color: $off-white;   
    }
}